<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Geodesignhub Tags Manager</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='assets/css/flatty.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/base.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        
        .pull-right {
            float: right;
        }

        a {
            color: #00AED8;
        }

        a:hover {
            color: #00AED8;
        }

        section {
            padding-top: 20px;
        }

        .herounit {
            background: #E5E4E2;
            padding-bottom: 25px;
        }
    </style>
</head>

<body>

    <div class='herounit'>
        <div class="container">
            <!-- Static navbar -->
            <!-- Main component for a primary marketing message or call to action -->
            <br>
            <h1>Geodesignhub Tags Helper</h1>
            <br>
            <p>This is tool to apply multiple tags to multiple diagrams in Geodesignhub project via the <a
                    href="http://www.geodesignhub.com/api/" target="_blank">Geodesignhub API</a>. When a new set of tags is applied, the existing tags will be removed from the diagram. For more information, see the <a
                    href="https://geodesignhub.github.io/TagsHelper">Github</a> page.</p><br>

        </div>
    </div>
    <br>
    <div class="container">
        <section>
        
            <br>
            <h1>Successfully Updated Climate Actions</h1>
            <br>
            <p><a href="/design?apitoken=<%= api_token %>&projectid=<%= project_id %>">&larr; Update more Actions</p>
            
        </section>


        
    <br>
    <br><br><hr><br><br>
 
</body>

</html>